/*.exe
/poodinis.lib
/poodinis.obj
/poodinis.pdb
/.settings
/.dub
/dub.selections.json
/__dummy.html
/docs.json
/poodinis
/libpoodinis.a
/.buildpath
/quickstartExample
/qualifiersExample
/arrayCompletionExample
/annotationsExample
/applicationContextExample
/registerOnResolveExample
/.project
/.idea
/*.iml
/out
/classes