/poodinis.exe
/poodinis.lib
/poodinis.obj
/quickstartExample.exe
/qualifiersExample.exe
/arrayCompletionExample.exe
/.settings
/.dub
/dub.selections.json
/docs
/__dummy.html
/docs.json
/poodinis
/libpoodinis.a
/.buildpath
/quickstartExample
/qualifiersExample
/arrayCompletionExample
