/*.exe
/poodinis.lib
/poodinis.obj
/.settings
/.dub
/dub.selections.json
/docs
/__dummy.html
/docs.json
/poodinis
/libpoodinis.a
/.buildpath
/quickstartExample
/qualifiersExample
/arrayCompletionExample
/annotationsExample
/applicationContextExample
/.project
/.idea
